.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  row-gap: 50px;
  height: 100vh;
  column-gap: 100px;
  flex-direction: row;
  padding: 0 30px;
  text-align: left;
}

.mobile {
  flex-direction: column;
  text-align: center;
}
