.root {
  overflow: hidden;
}

.root :global(.course-wrapper) {
  margin-bottom: 24px;
}

.root :global(.course-wrapper) a {
  text-decoration: none;
}

.root .sliderWrapper {
  width: 100%;
  display: flex;
  overflow: scroll;
  column-gap: 15px;
}

@media (max-width: 575px) {
  .root .sliderWrapper {
    width: calc(100% + 15px);
    margin-right: -15px;
  }
}

.root .sliderWrapper .singleSlide {
  width: 272px;
  max-width: 272px;
  flex-shrink: 0;
}
