.loginPage {
  min-height: calc(100vh - 592px);
  max-height: calc(100vh - 9px);
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ulams-gray-4);
  position: relative;
}

:global([data-mode="dark"]) .loginPage {
  background-color: var(--ulams-color-bg);
}

@media (max-width: 991px) {
  .loginPage {
    padding-top: 100px;
    height: 100%;
    padding-bottom: 50px;
  }

  .loginPage * {
    width: 100%;
  }
}
