.wrapper {
  background-color: var(--ulams-gray-4);
  padding-top: 57px;
  min-height: calc(100vh - 452px);
  padding-bottom: 50px;
}
:global([data-mode="dark"]) .wrapper {
  background-color: var(--ulams-color-bg);
}
.wrapper h1 {
  margin-bottom: 20px;
}

.subscriptionsContainer {
  border-radius: var(--ulams-radius-card);
  padding: 50px 90px;
  background-color: var(--ulams-color-white);
  border: 1px solid #eaeaea;
}
.subscriptionsContainer[data-mobile="true"] {
  padding: 20px;
}
