.root :global(.course-section) {
  margin-top: 0px;
}

.root :global(.course-card-buttons-group) {
  margin: 0;
  width: 100%;
}

.root :global(.course-card-buttons-group) button {
  width: 100%;
  margin: 0;
}

.root p {
  font-family: var(--ulams-font-family);
}
