.swiperButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

@media (max-width: 768px) {
  .swiperButtons {
    display: none;
  }
}

.swiperButtons button {
  all: unset;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background-color: var(--ulams-color-primary-on-light);
  margin-left: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiperButtons button:first-of-type {
  background-color: var(--ulams-gray-3);
}

.swiperButtons button:first-of-type svg {
  transform: rotate(180deg);
}
