<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Integrations">
      <directory suffix="Test.php">./tests/Integrations</directory>
    </testsuite>
    <testsuite name="auth">
      <directory suffix="Test.php">./packages/auth/tests</directory>
    </testsuite>
    <testsuite name="bookmarks_notes">
      <directory suffix="Test.php">./packages/bookmarks_notes/tests</directory>
    </testsuite>
    <testsuite name="bulk-notifications">
      <directory suffix="Test.php">./packages/bulk-notifications/tests</directory>
    </testsuite>
    <testsuite name="cart">
      <directory suffix="Test.php">./packages/cart/tests</directory>
    </testsuite>
    <testsuite name="categories">
      <directory suffix="Test.php">./packages/categories/tests</directory>
    </testsuite>
    <testsuite name="core">
      <directory suffix="Test.php">./packages/core/tests</directory>
    </testsuite>
    <testsuite name="courses">
      <directory suffix="Test.php">./packages/courses/tests</directory>
    </testsuite>
    <testsuite name="course-access">
      <directory suffix="Test.php">./packages/course-access/tests</directory>
    </testsuite>
    <testsuite name="courses-import-export">
      <directory suffix="Test.php">./packages/courses-import-export/tests</directory>
    </testsuite>
    <testsuite name="csv-users">
      <directory suffix="Test.php">./packages/csv-users/tests</directory>
    </testsuite>
    <testsuite name="dictionaries">
      <directory suffix="Test.php">./packages/dictionaries/tests</directory>
    </testsuite>
    <testsuite name="files">
      <directory suffix="Test.php">./packages/files/tests</directory>
    </testsuite>
    <testsuite name="h5p">
      <directory suffix="Test.php">./packages/h5p/tests</directory>
    </testsuite>
    <testsuite name="images">
      <directory suffix="Test.php">./packages/images/tests</directory>
    </testsuite>
    <testsuite name="invoices">
      <directory suffix="Test.php">./packages/invoices/tests</directory>
    </testsuite>
    <testsuite name="lrs">
      <directory suffix="Test.php">./packages/lrs/tests</directory>
    </testsuite>
    <testsuite name="mailerlite">
      <directory suffix="Test.php">./packages/mailerlite/tests</directory>
    </testsuite>
    <testsuite name="model-fields">
      <directory suffix="Test.php">./packages/model-fields/tests</directory>
    </testsuite>
    <testsuite name="notifications">
      <directory suffix="Test.php">./packages/notifications/tests</directory>
    </testsuite>
    <testsuite name="pages">
      <directory suffix="Test.php">./packages/pages/tests</directory>
    </testsuite>
    <testsuite name="payments">
      <directory suffix="Test.php">./packages/payments/tests</directory>
    </testsuite>
    <testsuite name="permissions">
      <directory suffix="Test.php">./packages/permissions/tests</directory>
    </testsuite>
    <testsuite name="reports">
      <directory suffix="Test.php">./packages/reports/tests</directory>
    </testsuite>
    <testsuite name="scorm">
      <directory suffix="Test.php">./packages/scorm/tests</directory>
    </testsuite>
    <testsuite name="settings">
      <directory suffix="Test.php">./packages/settings/tests</directory>
    </testsuite>
    <testsuite name="stationary-events">
      <directory suffix="Test.php">./packages/stationary-events/tests</directory>
    </testsuite>
    <testsuite name="tags">
      <directory suffix="Test.php">./packages/tags/tests</directory>
    </testsuite>
    <testsuite name="tasks">
      <directory suffix="Test.php">./packages/tasks/tests</directory>
    </testsuite>
    <testsuite name="topic-types">
      <directory suffix="Test.php">./packages/topic-types</directory>
    </testsuite>
    <testsuite name="topic-type-gift">
      <directory suffix="Test.php">./packages/topic-type-gift</directory>
    </testsuite>
    <testsuite name="topic-type-project">
      <directory suffix="Test.php">./packages/topic-type-project</directory>
    </testsuite>
    <testsuite name="tenancy">
      <directory suffix="Test.php">./packages/tenancy/tests</directory>
    </testsuite>
    <testsuite name="demo">
      <directory suffix="Test.php">./packages/demo/tests</directory>
    </testsuite>
    <testsuite name="templates">
      <directory suffix="Test.php">./packages/templates</directory>
    </testsuite>
    <testsuite name="templates-email">
      <directory suffix="Test.php">./packages/templates-email</directory>
    </testsuite>
    <testsuite name="templates-sms">
      <directory suffix="Test.php">./packages/templates-sms</directory>
    </testsuite>
    <testsuite name="templates-pdf">
      <directory suffix="Test.php">./packages/templates-pdf</directory>
    </testsuite>
    <testsuite name="assign-without-account">
      <directory suffix="Test.php">./packages/assign-without-account</directory>
    </testsuite>
    <testsuite name="translations">
      <directory suffix="Test.php">./packages/translations</directory>
    </testsuite>
    <testsuite name="ai">
      <directory suffix="Test.php">./packages/ai/tests</directory>
    </testsuite>
    <testsuite name="commerce">
      <directory suffix="Test.php">./packages/commerce/tests</directory>
    </testsuite>
    <testsuite name="course-builder">
      <directory suffix="Test.php">./packages/course-builder/tests</directory>
    </testsuite>
    <testsuite name="living-course">
      <directory suffix="Test.php">./packages/living-course/tests</directory>
    </testsuite>
    <testsuite name="adapt">
      <directory suffix="Test.php">./packages/adapt/tests</directory>
    </testsuite>
    <testsuite name="liascript">
      <directory suffix="Test.php">./packages/liascript/tests</directory>
    </testsuite>
    <testsuite name="lti">
      <directory suffix="Test.php">./packages/lti/tests</directory>
    </testsuite>
    <testsuite name="uploads">
      <directory suffix="Test.php">./packages/uploads/tests</directory>
    </testsuite>
    <testsuite name="vouchers">
      <directory suffix="Test.php">./packages/vouchers</directory>
    </testsuite>
    <testsuite name="consultations">
      <directory suffix="Test.php">./packages/consultations</directory>
    </testsuite>
    <testsuite name="consultation-access">
      <directory suffix="Test.php">./packages/consultation-access</directory>
    </testsuite>
    <testsuite name="jitsi">
      <directory suffix="Test.php">./packages/jitsi</directory>
    </testsuite>
    <testsuite name="webinar">
      <directory suffix="Test.php">./packages/webinar</directory>
    </testsuite>
    <testsuite name="cmi5">
      <directory suffix="Test.php">./packages/cmi5</directory>
    </testsuite>
    <!--
    <testsuite name="video">
      <directory suffix="Test.php">./packages/video/tests</directory>
    </testsuite>
    -->
  </testsuites>
  <php>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <env name="DB_CONNECTION" value="pgsql"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_PORT" value="5432"/>
    <env name="DB_DATABASE" value="default"/>
    <env name="DB_USERNAME" value="default"/>
    <env name="DB_PASSWORD" value="secret"/>
    <env name="CONFIG_USE_DATABASE" value="true"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <ini name="memory_limit" value="1024M"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./packages/auth/</directory>
      <directory suffix=".php">./packages/bookmarks_notes/</directory>
      <directory suffix=".php">./packages/bulk-notifications/</directory>
      <directory suffix=".php">./packages/cart/</directory>
      <directory suffix=".php">./packages/categories/</directory>
      <directory suffix=".php">./packages/core/</directory>
      <directory suffix=".php">./packages/courses/</directory>
      <directory suffix=".php">./packages/course-access/</directory>
      <directory suffix=".php">./packages/courses-import-export/</directory>
      <directory suffix=".php">./packages/csv-users/</directory>
      <directory suffix=".php">./packages/dictionaries/</directory>
      <directory suffix=".php">./packages/files/</directory>
      <directory suffix=".php">./packages/h5p/</directory>
      <directory suffix=".php">./packages/images/</directory>
      <directory suffix=".php">./packages/lrs/</directory>
      <directory suffix=".php">./packages/mailerlite/</directory>
      <directory suffix=".php">./packages/notifications/</directory>
      <directory suffix=".php">./packages/model-fields/</directory>
      <directory suffix=".php">./packages/pages/</directory>
      <directory suffix=".php">./packages/payments/</directory>
      <directory suffix=".php">./packages/permissions/</directory>
      <directory suffix=".php">./packages/reports/</directory>
      <directory suffix=".php">./packages/scorm/</directory>
      <directory suffix=".php">./packages/settings/</directory>
      <directory suffix=".php">./packages/stationary-events/</directory>
      <directory suffix=".php">./packages/tags/</directory>
      <directory suffix=".php">./packages/tasks/</directory>
      <directory suffix=".php">./packages/topic-types/</directory>
      <directory suffix=".php">./packages/topic-type-gift/</directory>
      <directory suffix=".php">./packages/topic-type-project/</directory>
      <directory suffix=".php">./packages/templates/</directory>
      <directory suffix=".php">./packages/templates-email/</directory>
      <directory suffix=".php">./packages/templates-sms/</directory>
      <directory suffix=".php">./packages/templates-pdf/</directory>
      <directory suffix=".php">./packages/tenancy/</directory>
      <directory suffix=".php">./packages/demo/</directory>
      <directory suffix=".php">./packages/assign-without-account/</directory>
      <directory suffix=".php">./packages/translations/</directory>
      <directory suffix=".php">./packages/uploads/</directory>
      <directory suffix=".php">./packages/lti/</directory>
      <directory suffix=".php">./packages/liascript/</directory>
      <directory suffix=".php">./packages/adapt/</directory>
      <directory suffix=".php">./packages/ai/</directory>
      <directory suffix=".php">./packages/commerce/</directory>
<directory suffix=".php">./packages/course-builder/</directory>
      <directory suffix=".php">./packages/living-course/</directory>
      <directory suffix=".php">./packages/vouchers/</directory>
      <directory suffix=".php">./packages/consultations/</directory>
      <directory suffix=".php">./packages/consultation-access/</directory>
      <directory suffix=".php">./packages/webinar/</directory>
      <directory suffix=".php">./packages/cmi5/</directory>
      <!-- <directory suffix=".php">./packages/video/</directory> -->
    </include>
  </source>
</phpunit>
